body {
    font-family: 'Amatic SC', cursive;
    color: #555;
    font-size: large;
    background-image:url("pamls.jpeg");
    background-repeat: no-repeat;
}

h1, h3, h4, h5{
  font-size: -webkit-xxx-large;
}
main {
    background: white;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}

main[size="A4"] {
    width: 21cm;
    height: 29.7cm;
}

main[size="A4"][layout="portrait"] {
    width: 29.7cm;
    height: 21cm;
}

.hexagon {
    width: 280px;
    height: 280px;
    background: #1e90ff;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    margin: 30px;
}

.hello {
    width: 325px;
    height: 207px;
    margin-top: 40px;
}

hr {
    margin: 10px 20px;
}
p {
    visibility: hidden;
}
